/*

!Wallpaper
!colors.txt
!todo
!.gitignore

!.config/
.config/*

!.config/dunst
.config/dunst/*
!.config/dunst/dunstrc

!.config/eww
.config/eww/*
!.config/eww/eww.scss
!.config/eww/eww.yuck

!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/fish/fish_plugins
!.config/fish/functions/

!.config/foot
.config/foot/*
!.config/foot/foot.ini

!.config/gxrfetch
.config/gxrfetch/*
!.config/gxrfetch/ascii
!.config/gxrfetch/config

!.config/hypr
.config/hypr/*
!.config/hypr/Autorun.fish
!.config/hypr/hyprland.conf
!.config/hypr/hyprpaper.conf

!.config/rofi
.config/rofi/*
!.config/rofi/config.rasi

!.config/micro
.config/micro/*
!.config/micro/settings.json

!.config/libinput-gestures.conf

!.script/
.script/*
!.script/GetBluetooth.fish
!.script/GetNetwork.fish
!.script/GetWorkspace.py
!.script/home.html
!.script/LaunchCalc.fish
!.script/LaunchDrun.fish
!.script/SetPowerprofile.fish
!.script/SetWallpaper.fish
!.script/WorkspaceListener.py
