/*

!Wallpaper
!colors.txt
!.gitignore

!.config/
.config/*
!.config/dunst
!.config/eww
!.config/fish
!.config/foot
!.config/gxrfetch
!.config/hypr
!.config/rofi
!.config/micro
.config/micro/*
!.config/micro/settings.json
!.config/libinput-gestures.conf

!.script/
.script/*
!.script/GetBluetooth.fish
!.script/GetNetwork.fish
!.script/GetWorkspace.py
!.script/home.html
!.script/LaunchCalc.fish
!.script/LaunchDrun.fish
!.script/SetPowerprofile.fish
!.script/SetWallpaper.fish
!.script/WorkspaceListener.py
