$foreground:    #ffffff;
$second:        #000000;
$background:    unset;

* {
	all: unset;
	font-size: 20px;
	font-family: "DM Mono";
}

.statusbar {
    background-color:   $background;
    color:              $foreground;
    padding-left:       5px;
}

.workspaces {
    color:  $foreground;
    padding-right: 15px;
}

label {
    padding:   5px 0px 5px 0px;
}

.statusbar_battery_style {
	scale trough {
		border: 2px solid $foreground;
		min-width: 18px;
	}

	trough highlight {
		background-color: $foreground;
	}
}



