$foreground:    #EEEEEE;
$background:    #000000;

* {
	all: unset;
	font-size: 20px;
	font-family: "DM Mono";
}

.statusbar {
    background-color:   $background;
    color:              $foreground;
    border:             3px solid $foreground;
    border-right:       none;
    border-radius:      6px 0px 0px 6px;
    padding-left:       4px;
}

label {
    padding:   5px 0px 5px 0px;
}

.statusbar_battery_style {
	scale trough {
		border-radius: 6px;
		border: 2px solid $foreground;
		min-width: 18px;
	}

	trough highlight {
		background-color: $foreground;
	}
}
